<h1><%= @job.title %></h1>
<%= @job.category %>
<%= @job.company.name %>
<%= @job.description %>
<%= @job.location %>
<% if @job.featured == true %>
   <strong>Destaque</strong>
<% end %>

<h1> <%= link_to 'Voltar', root_path %> </h1>
