<h1> Emprego Já </h1>

<%= link_to 'Nova vaga', new_job_path %>

<% @jobs.each do |job| %>
  <h1> <%= link_to job.title, job %> </h1>
  <%= job.company.name %>
  <%= job.location %>
  <% if job.featured == true %>
     <strong>Destaque</strong>
  <% end %>
<% end %>

<%= link_to 'Nova empresa', new_company_path %>
<% @companies.each do |company| %>
<h1> <%= link_to company.name, company %> </h1>
<% end %>

<%= link_to 'Nova categoria', new_category_path %>
<% @categories.each do |category| %>
<h1> <%= link_to category.name, category %> </h1>
<% end %>
